Source: percona-server-mongodb-40-info
Section: utils
Priority: optional
Maintainer: Percona LLC
Homepage: https://percona.com
Version:  ${version} 

Package: percona-server-mongodb-40-info
Description: Percona Server for MongoDB info package
Architecture: amd64
